.swiper {
    width: 60vw;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
  }

  .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: .7;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #3d8e30 !important;
  }

  .swiper-button-prev:after {
    color: #3d8e30 !important;
  }

  .swiper-button-next:after {
    color: #3d8e30 !important;
  }