*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: 0;
  border: 0;
}
body,
html {
  background: #111111;
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: 50% 130px;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
html{
  background-image: none;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.footer-team .nav__link {
  padding: 0px;
}
.footer-team {
  /* position: fixed; */
  position: absolute;
  justify-content: center;
  align-items: center;
}

/* First page */

.header {
  position:fixed;
  top:0;
  left: 0;
  background-color: #111111;
  z-index: 100;

  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 35px;
}
.logo {
  width: 200px;
  height: 57px;
  position: relative;
}
.logo__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.logo__img {
  width: 100%;
}
.up{
  position: fixed;
  top: 90vh;
  right: 5%;
  display: none;
  z-index: 15;
  width: 7%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.41vw;
  gap: 55px;
  position: relative;
}
.header__menu {
  display: none;
}

.nav__item {
  position: relative;
}
.nav__link {
  z-index: 10;
  font-weight: 600;
}
.nav-icon {
  display: none;
  width: 25px;
  height: 25px;
}
.link {
  color: #5b5b5b;
  font-weight: 600;
}
.link-active {
  color: #e5e5e5;
}

.nav__menu {
  position: absolute;
  font-size: 16px;
  border-left: 1px solid #fff;
  padding-left: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  left: 3px;
  width: 500px;
  background-color: #111111;
}
.nav__menu:hover {
  opacity: 1;
  pointer-events: visible;
  transition: 0.2s;
}

.nav__link:hover + .nav__menu {
  opacity: 1;
  pointer-events: visible;
  transition: 0.2s;
}
.nav-icon {
  display: none;
}
.nav__menu {
  position: absolute;
  font-size: 16px;
  border-left: 1px solid #fff;
  padding-left: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  left: 3px;
  width: 500px;
}
.nav__menu-soft:hover {
  opacity: 1;
  pointer-events: visible;
  transition: 0.2s;
}

.menu__link-soft:hover + .nav__menu-soft {
  opacity: 1;
  pointer-events: visible;
  transition: 0.2s;
}

.menu__link {
  color: #5b5b5b;
  transition: .2s;
}
.menu__link-active {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-left: 15px;
  position: relative;
}
.menu__link:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-left: 15px;
  position: relative;
  transition: .2s;
}
.menu__link:hover::after {
  content: ">";
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #ffff;
  left: -13px;
  transition: .2s;
}
.menu__link-active::after {
  content: ">";
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #ffff;
  left: -13px;
}

.header__lang-phone {
  display: none;
}

.header__lang {
  margin-right: 12px;
}

.header__langBtn {
  border: none;
  /* display: inline; */
  color: #5b5b5b;
  font-size: 16px;
  margin: 0 12px;
  cursor: pointer;
  transition: 0.4s;
}

.header__langBtn:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.header__langBtn_active {
  color: #ffffff;
}

.start-body, .start-html{
  background-image: none;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 80vh;
  padding: 113px 5% 0 5%;
}
.start-main {
  height: 70vh;
}

.start__content {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  height: 80vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  width: 100%;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 49px;
  margin-bottom: 20px;
}

.underlinedTitle {
  border-bottom: 2px solid #3d8e30;
  width: 90vw;
  padding: 0 0 10px 0;
}

.main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 100%;
  padding-left: 10%;
}

.index__title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.index__subtitle {
  font-size: 24px;
  font-weight: 400;
  color:#3D8E30;
  text-align: center;
}

.placeholder__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.start-link {
  display: none;

  width: 60vw;
  padding: 20px 0;

  position: absolute;
  left: 20%;
  bottom: 10vh;

  border-radius: 20px;
  text-align: center;
  background-color: #3D8E30;
  color: #fff;
  font-size: 16px;
}

.neon-pulse {
  background: linear-gradient(45deg, #3D8E30, #3D8E30);
  animation: neon-pulse 3.5s infinite;
}

@keyframes neon-pulse {
  0% {
      box-shadow: 0 0 4px 0 #3D8E30;
  }
  50% {
      box-shadow: 0 0 12px 4px #3D8E30;
  }
  100% {
      box-shadow: 0 0 4px 0 #3D8E30;
  }
}

@keyframes loaded {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.index__cover {
  width: 32vw;
  max-width: 1200px;
}

.footer {
  width: 100vw;
  padding: 48px 0px;
  bottom: 0;
  left: 0;
}
.footer__nav {
  justify-content: center;
  gap: 40px;
}

.footer__legal {
  position: absolute;
  padding: 48px 0 24px 0;

  display: flex;
  justify-content: center;
}

.footer__policy-link {
  color: #ffffff;
  font-size: 12px;
}

.footer__nav__link {
  font-size: 1vw;
}

/* Products */

table {
  position: relative;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 1vw;
}

th {
  border-bottom: 3px solid #3d8e30;
  padding: 10px 0px;
}

td {
  padding: 10px 0px;
}

tr {
  border-bottom: 1px solid #fff;
}

.soft__popup {
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}
.popup__content {
  position: relative;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__img{
  width: 30%;
  cursor: auto;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 28%;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
}
.close__img {
  width: 100%;
}

.popupLegal__wrapper {
  position: fixed;
  /* display: none; */
  visibility: hidden;
  bottom: 0;
  left: 0;
  z-index: 10;

  animation: showBottom .7s;
}

@keyframes showBottom {
  from {bottom:-100%;}
  to {bottom:0;}
}

.popupLegal_opened {
  visibility: visible;
}

.popupLegal_closed {
  visibility: hidden;
  /* animation: hideBottom 5.7s; */
}

/* @keyframes hideBottom {
  from {bottom: 0;}
  to {bottom: -100%;
    visibility: hidden;}
} */


.popupLegal {
  display: flex;
  flex-direction: row;
  column-gap: 12%;

  background-color: #3D8E30;
  opacity: .9;

  border-radius: 20px 20px 0 0;
  padding: 4% 8%;
}

.popupLegal__text {
  font-size: 24px;
}

.popupLegal__link {
  color: #111111;
  text-decoration: underline;
}

.popupLegal__button {
  max-height: 60px;
  padding: 16px 40px;
  font-size: 20px;
  background-color: #ffffff;
  color: #111111;
  border-radius: 20px;

  align-self: center;

  cursor: pointer;
  transition: 0.4s;
}

.popupLegal__button:hover {
  transform: scale(1.1);
}


@media screen and (min-width: 1400px) {
  .logo {
    width: 240px;
  }

  .footer-team {
    padding: 48px 0 72px 0;
  }

  .index__title {
    font-size: 40px;
  }

  .index__subtitle {
    font-size: 32px;
  }

  .title {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 2000px) {
  .header {
    padding: 20px 40px 20px 40px;
  }

  .logo {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {

  /* Меню на малых устройствах */

  .header__lang {
    display: none;
  }

  .header__lang-phone {
    display: inline-block;
  }
  
  .header__nav {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 100%;
    font-size: 20px;
    z-index: 100;
    background: #000;
    background-color: #3d8e30;
    width: 100vw;
    left: 0;
    height: 0px;
  }
  .header__nav-active {
    display: block;
  }
  .nav__item {
    width: 100%;
    text-align: left;
    background: #3d8e30;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
  }
  .nav__menu {
    position: relative;
    opacity: 1;
    border-left: 1px solid transparent;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background: rgba(61, 142, 48, 0.9);
    width: 100vw;
    left: 0px;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .nav__menu-active {
    display: flex;
  }
  .nav__link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    font-size: 20px;
  }
  .menu__link-soft {
    padding: 15px;
    display: flex;
    gap: 15px;
    padding: 15px;
  }
  .nav-icon {
    display: inline-block;
  }

  .menu__link {
    width: 100%;
    display: inline-block;
  }
  .header__menu {
    display: block;
  }
  .menu__icon {
    display: block;
    position: relative;
    width: 25px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::after,
  .menu__icon::before,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon::before {
    top: 0;
  }

  .menu__link-active {
    color: #fff;
    border-bottom: 0;
    margin-left: 0;
    position: relative;
  }
  .menu__link:hover{
    color: #fff;
    border-bottom: 0;
    margin-left: 0;
    position: relative;
    transition: .2s;
  }
  .menu__link:hover::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #ffff;
    left: -13px;
    transition: .2s;
  }
  .menu__link-active::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #ffff;
    left: -13px;
  }

  /* Стартовая страница */

  .index__cover {
    width: 80vw;

  }

  .index__title {
    font-size: 16px;
  }
  
  .index__subtitle {
    font-size: 12px;
  }

  .start-link {
    display: block;
  }


  /* Не проверено */

  table {
    font-size: 3vw;
  }

  /* Не проверено */

  th {
    white-space: normal;
  }


  /* Не проверено */

  .main__content {
    margin-top: 0%;
  }

  .footer-team {
    position: relative;
  }

  .footer {
    padding: 30px 0px;
  }

  .footer__nav__link {
    font-size: 3vw;
  }

  .footer__nav {
    gap: 24px;
  }
}

@media screen and (max-width: 900px) {

  .header {  
    padding: 20px;
    margin-bottom: 16px;
    height: 80px;
  }

  .logo {
    width: 120px;
    height: auto;
  }

  .main {
    min-height: 80vh;
    padding: 90px 5% 0 5%;
  }

  /* Не проверено */
  .start__content {
    overflow: visible;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__content {
    flex-direction: column;
    margin-top: 15%;
    row-gap: 5vh;
  }

  .main__text {
    gap: 3%;
    height: auto;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .popup__close{
    right: 15%;
  }
  .popup__img{
    width: 70%;
}

}
@media screen and (max-width: 465px) {
  .popup__close{
    right: 5%;
  }
  .popup__img{
    width: 90%;
  }
}
