.newsArticles {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px auto 20px;
  grid-template-areas:
    "odd .    ."
    "odd even ."
    ".   even .  ";
}

.container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px auto;
  grid-template-areas:
    "column . column"
    "column column column" */
}

.newsArticles_card {
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  border: 3px solid #3D8E30;
  border-radius: 20px;
  box-shadow: 20px 20px 8px 0px #B1EC52;
  width: 200px;
  height: 400px;
}

.card_odd {
  grid-area: odd;
}

.card_even {
  grid-area: even;
}

.newsArticles_img {

}

.newsArticles_topic {

}

.newsArticles_title {

}

.newsArticles_date {

}
