.newsArticles {
  max-width: 100vw;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  gap: 120px 60px;
}

.container {

}

.newsArticles_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 32px;
  border: 3px solid #3D8E30;
  border-radius: 20px;
  box-shadow: 20px 20px 8px 0px #B1EC52;
  width: min(25vw, 600px);
  /* max-width: 400px;
  min-width: 200px; */
}

.newsArticles_card_odd {
  margin: 32px 0 -32px 0;
}

.newsArticles_img {
  border-radius: 20px;

}

.newsArticles_topic {
  font-size: 16px;
  font-weight: 300;
}

.newsArticles_title {
  font-size: 20px;
  font-weight: 600;
}

.newsArticles_date {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
