.newsArticles {
  max-width: 100vw;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  gap: 120px 60px;
}

.container {

}

.newsArticles_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 32px;
  box-sizing: content-box;
  border: 3px solid #3D8E30;
  border-radius: 20px;
  width: min(20vw, 600px);
  /* box-shadow: 20px 20px 8px 0px #B1EC52; */
  box-shadow: 
    17px 17px 8px 0 #111111,
    20px 20px 8px 0 #b1ec52;
  
  color: #ffffff;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.newsArticles_card_odd {
  margin: 32px 0 -32px 0;
}

.newsArticles_img {
  border-radius: 20px;

  height: 240px;
  object-fit: cover;
}

.newsArticles_topic {
  font-size: 16px;
  font-weight: 300;
}

.newsArticles_title {
  font-size: 20px;
  font-weight: 600;

  height: 80px;
}

.newsArticles_date {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0 0;
}

/* Страничка с одной новостью */

.newsArticles_card_oneNews {
  display: block;
}

.newsArticles_wholeCard {
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #ffffff;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.newsArticles_topic_wholeCard {
  font-size: 24px;
}

.newsArticles_date_wholeCard {
  font-size: 16px;
}

.newsArticles_img_wholeCard {
  max-width: 70vw;
}

.newsArticles_imgDesc {
  font-size: 12px;
  font-weight: 300;
}

.newsArticles_imgAuthor {
  font-size: 12px;
  font-weight: 300;
}

.newsArticles_title_wholeCard {
  font-size: 32px;
}

.newsArticles_texts_wholeCard {
  font-size: 28px;
  font-weight: 400;
}

.back-to-news-btn {
  color: #ffffff;
}
