.skills-main {
  display: flex;
  flex-direction: column;
}

.skills-content {
  /* width: 100vw; */
  display: flex;
}

.skills-list {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding-left: 5%;
  padding-right: 5%; */
  margin: 20px 0 0 0;
  gap: 28px;
}

.skills-item {
  display: flex;
  gap: 28px;
  /* margin-bottom: 2%; */
}

.skills-num {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  font-size: 44px;
  border-radius: 50%;
  background-color: #3d8e30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-text {
  width: 100%;
}

.skills-text__title {
  margin-bottom: 12px;
  font-size: 20px;
}

.skills-text__desc {
  font-size: 1.7vmin;
}

.desc__item {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 8px;
}

.desc__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
  .skills-list {
    gap: 60px;
  }
  
  .skills-text__title {
    margin-bottom: 24px;
    font-size: 28px;
  }
  
  .skills-num {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    font-size: 48px;
  }

  /* .skills-text__desc {
    font-size: 20px;
  } */

  .desc__item {
    margin-left: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1790px) {
  .skills-text__desc {
    font-size: 24px;
  }
}

@media screen and (min-width: 2000px) {
  .skills-list {
    gap: 72px;
  }

  .skills-text__desc {
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .skills-list {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .skills-text__title {
    font-size: 3.25vw;
  }
  .skills-text__desc {
    font-size: 2.75vw;
  }
}